<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <!-- include mainInclude/_hero -->
  <%- include('include/mainInclude/_hero') %>
  <!-- /include mainInclude/_hero -->
  <!-- include mainInclude/_middle -->
  <%- include('include/mainInclude/_middle') %>
  <!-- /include mainInclude/_middle -->
  <!-- include footer -->
  <%- include('include/mainInclude/_footer') %>
  <!-- /include footer -->
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
